<img width="688" height="115" alt="test_policy resukt " src="https://github.com/user-attachments/assets/265e280b-aef8-4c7d-972a-08189e0f0c6e" />

